//
// Variables 
//

$text-font: "poppins", sans-serif;
$logo-font: "lobster", cursive;


// colors - variables -maps
$colors: (
  color1: #efbc9b,
  color2: #ee92c2,
  color3: #9d6a89,
  color4: #725d68,
  color5: #a8b4a5,
)!default;

$secondary-colors: (
  white: #fff,
  black: #333,
);

$small-width: 768px;
$large-width: 1024px;